<h1>Notams decoder</h1>
<table>
    <tr>
        <th>ICAO</th>
        <th>MON</th>
        <th>TUE</th>
        <th>WED</th>
        <th>THU</th>
        <th>FRI</th>
        <th>SAT</th>
        <th>SUN</th>
    </tr>
<% @notams.each do |notam| %>
    <tr>
        <td> <%= notam.icao %> </td>
        <% notam.days.each do |day| %>
            <td><%= day.split(':').last %></td>
        <% end %>
    </tr>
<% end %>
</table>
